*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: black;
    color: white;
    height: 100vh;
    background: linear-gradient(0deg, #00000094, #00000094), url(./modern-minimalistic-interior-design-light-bright-monochrome-room-with-black-white-furniture-c.jpg);
    background-size: cover;
    background-position: center;
}

header, .container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    width: 100%;
    padding: 1.5em;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8em 2.5em;
    background: rgb(175, 175, 175);
    color: black;
}

nav h1{
    font-size: 1.2rem;
    font-weight: 500;
}

nav ul{
    display: flex;
    gap: 4em;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: .8rem;
}

nav i{
    font-size: 1.4rem;
    cursor: pointer;
}

.grey{
    width: 35%;
    height: 100vh;
    background: #ffffffd2;
    position: absolute;
    top: 0;
    z-index: -9;
}

.grey h1{
    font-size: 28rem;
    background: #bcbcbc;
    height: 100%;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: end;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero{
    display: flex;
    gap: 3em;
    position: relative;
}

.left-hero{
    padding: 7em 1em 1em;
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
    height: 70vh;
    color: black;
}

.left-hero-contents{
    padding: 1em;
    margin-top: 15em;
    font-size: .9rem;
    line-height: 1.5em;
    font-weight: 300;
}

.left-hero p a{
    text-decoration: none;
    color: grey;
}

.fixed-heading{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(./modern-minimalistic-interior-design-light-bright-monochrome-room-with-black-white-furniture-c.jpg);
    background-size: cover;
    background-position: center;
    font-size: 12rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    padding-left: .9em;
    padding-bottom: .5em;
}

.right-hero{
    padding-top: 7em;
    padding-left: 7em;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-hero-content{
    margin-left: 7em;
    width: 40%;
}

.sofa{
    line-height: 1.8em;
    font-size: .8rem;
    font-weight: 300;
    margin-top: 1.5em;
}

.post{
    align-self: flex-end;
    display: flex;
    align-items: center;
    width: 19em;
    gap: 1em;
    border-radius: .5em;
    background: rgba(255, 255, 255, 0.081);
    backdrop-filter: blur(.5em);
}

.post-pic{
    background: url(./618d221b-f011-4d48-b6b1-35187c0bfd63.JPG);
    background-size: cover;
    background-position: center;
    height: 7em;
    width: 40%;
    border-radius: inherit;
}

.post-content{
    font-size: .7rem;
}

.post-content p{
    font-weight: 200;
}

.hero i{
    background: black;
    font-size: 1.5rem;
    width: 2em;
    height: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.first{
    right: 10%;
    top: 40%;
}

.sec{
    right: 30%;
    top: 70%;
}